[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/ropevim"]
	path = bundle/ropevim
	url = https://github.com/sontek/rope-vim.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mv-utils"]
	path = bundle/vim-addon-mv-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/snipmate-snippets"]
	path = bundle/snipmate-snippets
	url = https://github.com/honza/snipmate-snippets.git
[submodule "bundle/jinja2"]
	path = bundle/jinja2
	url = https://github.com/Glench/Vim-Jinja2-Syntax.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/matchtag"]
	path = bundle/matchtag
	url = https://github.com/gregsexton/MatchTag.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/colour-sampler-pack"]
	path = bundle/colour-sampler-pack
	url = https://github.com/vim-scripts/Colour-Sampler-Pack.git
[submodule "bundle/comments"]
	path = bundle/comments
	url = https://github.com/vim-scripts/comments.vim.git
[submodule "bundle/closetag"]
	path = bundle/closetag
	url = https://github.com/docunext/closetag.vim.git
[submodule "bundle/vim-autoclose"]
	path = bundle/vim-autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule "bundle/vim-color-picker"]
	path = bundle/vim-color-picker
	url = https://github.com/vim-scripts/VIM-Color-Picker.git
[submodule "bundle/vim-jsbeautify"]
	path = bundle/vim-jsbeautify
	url = https://github.com/maksimr/vim-jsbeautify.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "bundle/vim-mkdir"]
	path = bundle/vim-mkdir
	url = https://github.com/DataWraith/auto_mkdir.git
[submodule "bundle/minibufferexplorer"]
	path = bundle/minibufferexplorer
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/vim-tasklist"]
	path = bundle/vim-tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/vim-command-t"]
	path = bundle/vim-command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/vim-youCompleteMe"]
	path = bundle/vim-youCompleteMe
    url = https://github.com/Valloric/YouCompleteMe.git
    ignore = dirty
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "bundle/flake8"]
	path = bundle/flake8
	url = https://github.com/andviro/flake8-vim.git
[submodule "bundle/yangRing"]
	path = bundle/yangRing
	url = https://github.com/vim-scripts/YankRing.vim.git
